/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}






@font-face {
    font-family: Graphik-Regular-Web;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Graphik-Regular-Web.eot);
    src: url(fonts/Graphik-Regular-Web.eot?#iefix) format("embedded-opentype"),url(fonts/Graphik-Regular-Web.woff) format("woff")
}

@font-face {
    font-family: Graphik-Bold-Web;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Graphik-Bold-Web.eot);
    src: url(fonts/Graphik-Bold-Web.eot?#iefix) format("embedded-opentype"),url(fonts/Graphik-Bold-Web.woff) format("woff")
}



.container {  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}


html, body , .container {
  margin: 0;
}


.movie1 {
  /* The Mask */
  background-color: rgb(98, 46, 16);
}
.movie2 {
  /* Stargate */
  background-color: rgb(40, 87, 98);
}
.movie3 {
  /* Terminal Velocity */
  background-color: rgb(62, 47, 47);
}
.movie4 {
  /* Cabin Boy */
  background-color: rgb(64, 89, 68);
}
.movie5 {
  /* Timecop */
  background-color: rgb(36, 42, 60);
}
.movie6 {
  /* Speed */
  background-color: rgb(70, 22, 22)
  
}


.byline {
    color: #fff;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.1;
    text-shadow: 0 0 10px rgba(0,0,0,.6)
}


.navigation .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.navigation img {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.navigation img:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.4), 0 0px 20px 0 rgba(255, 255, 255, 1);
}
.navigation .item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
}


.summary {
  padding: 100px;
  background-color: black
}
.summary .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 80px;
}
.summary .item {
  flex-grow: 0
}



.summary h1 {
    color: #fff;
    font-family: Graphik-Bold-Web,sans-serif;
    font-size: 120px;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 4px;
    margin-top: 4px;
}
.summary h2 {
    color: #fff;
    font-family: Graphik-Bold-Web,sans-serif;
    font-size: 86px;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 4px;
    margin-top: 4px;
}
.summary .byline {
    color: #fff;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.1;
}


.movie {
  padding-top: 100px;
  padding-bottom: 100px;
}
.movie .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
}
/* TODO:  Look into a better way of showing Tweets */
.movie .tweetcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:  80px;
  column-gap: 80px;
  row-gap: 40px;
}
.movie .tweetitem {
  flex-grow: 0;
  width:  250px;
}


.movie .item {
  flex-grow: 0;
}
.movie h2 {
    width: 700px;
    color: #fff;
    font-family: Graphik-Bold-Web,sans-serif;
    font-size: 78px;
    font-weight: 500;
    line-height: .9;
    margin-bottom: 30px;
    /*text-shadow: 0 0 20px rgba(0,0,0,.3) */
}
.movie .art {
  height: 660px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie .chart {
}




.footer {
  padding:  100px;
  background-color: black
}
.footer a {
  color: red;
}
.footer a:visited {
  color: red;
}
.footer .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 80px;
}
.footer .item {
  flex-grow: 0
}
