/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Graphik-Bold-Web,sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.year-cell {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 1rem;
  height: 120px;
  text-decoration: none;
  color: inherit;
}

.year {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.featured-film {
  font-size: 0.8rem;
}

.year-cell[data-disabled="false"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.year-cell[data-disabled="true"] {
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0.2);
}